@import url('https://fonts.googleapis.com/css?family=Quantico|Roboto+Mono:700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  color: #333333;
  background-color: whitesmoke;
}

.lights {
  color: red;
  font-family: 'Quantico', sans-serif;
  padding-left: 5px;
}

.teamLogo {
    height: 45px;
}

.clock {
  font-size: xx-large;
}

.score {
  font-size: x-large;
}

.stats {
  font-size: large;
  background-color: #333333;
  color: whitesmoke;
}

.heading {
  background-color: black;
  color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
}

h1 {
  font-size: medium;
}

#copy {
  font-size: x-small;
}

a:link {
  color: #333333;
  background-color: transparent;
  text-decoration: underline;
}

footer{
  padding-top: 20px;
}

.snackLogo {
height: 45px;
}

#scoreBoard {
  border: #333333;
  border-style: solid;
  border-width: thin;
  margin-bottom: 5px;

}